@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  /* Sidebar Colors */
 
 --sidebar-hover: rgba(255, 255, 255, 0.08);
  --sidebar-text: black;
  --sidebar-active: rgba(255, 255, 255, 0.15);
 --sidebar-border: rgba(0,0,0,0.08);

  /* Sizes */
  --sidebar-width-expanded: 170px;
  --sidebar-width-collapsed: 60px;
  --icon-size: 26px;
}

.sidebar-divider {
  border-bottom: 1px solid var(--sidebar-border);
}
.sidebar-divider-footer {
  border-top: 1px solid var(--sidebar-border);
}